{% extends 'base.html.twig' %}

{% block body %}
{# @todo 'Temporary title' should be replaced #}
<h1 class="text-center display-3 fw-bold mb-3">Recent articles</h1>
<div class="row g-4">
    {% for article in articles %}
        <div class="col-xl-3 col-lg-6">
                <article class="card h-100">
                        <img src="/uploads/{{ article.picture }}" class="card-img-top" alt="{{ article.title }}">
                        <div class="card-body d-flex flex-column">
                                <time datetime="{{ article.date|date("Y-m-d") }}" class="mb-1 small text-muted text-end">
                                        <i class="bi bi-calendar"></i>
                                        {{ article.date|date("jS F Y") }}
                                </time>
                                <h1 class="card-title fs-5">{{ article.title }}</h1>
                                <p>{{ article.summary }}</p>
                                <a href="{{ path('app_article_show', {'id': article.id}) }}"
                                   class="btn btn-primary stretched-link mt-auto">
                                        Read more
                                </a>
                        </div>
                </article>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block title %}
Recent articles
{% endblock %}

